* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

p {
  padding: 0.8em;
  padding-top: 0.3em;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #1a9cc6;
}

footer {
  display: flex;
  background: #0d1529;
}

#main {
  padding: 1em;
}

nav {
  display: flex;
  background: #0d1529;
}

nav .logo-container {
  flex: 1;
}

nav .logo-imagen {
  padding: 1.2em;
}

nav .nav-section {
  flex: 2;
}
nav ul {
  width: 80%;
  margin: auto;
  margin-top: 1em;
  list-style: none;
}

nav li {
  padding: 0.2em;
  display: inline-block;
  margin-left: 0.3em;
}

nav li a {
  color: #FFF;
}

footer div {
  flex: 1;
}

footer p {
  line-height: 0.3em;
  padding-left: 8em;
}

.section-footer {
  padding: 3em;
  color: #FFFFFF;

}

.section-footer .input-group>* {
  display: block;
}
